@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin {
    animation: spin 2s linear infinite;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9098d4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(123, 23, 255);
}

::-webkit-scrollbar-track {
  background: #f8f7f7;
  border-radius: 5px;
}

.notice {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 50%, rgb(25, 19, 39) 80%, rgb(43, 32, 72));
  width: 100%;
  height: 94vh;
  position: relative;
}

@media (max-height: 700px) {
  .hide-on-small-height {
    display: none;
  }
}
