/* 기존 코드 유지 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin {
    animation: spin 2s linear infinite;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.notice {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 50%, rgb(25, 19, 39) 80%, rgb(43, 32, 72));
  width: 100%;
  height: 95vh;
  position: relative;
}

@media (max-height: 700px) {
  .hide-on-small-height {
    display: none;
  }
}

/* 스크롤바 숨기기 - 웹킷 기반 브라우저 (Chrome, Safari, Edge 등) */
::-webkit-scrollbar {
  display: none;
}

/* 스크롤바 숨기기 - Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE와 Edge */
}

/* 스크롤바 숨기기 - IE와 Edge */
body {
  -ms-overflow-style: none; /* IE와 Edge */
}

/* 스크롤바 숨기기 - Android 및 iOS 브라우저 */
html,
body {
  overflow: -moz-scrollbars-none; /* Firefox on Android */
  -ms-overflow-style: none; /* IE와 Edge */
  scrollbar-width: none; /* Firefox */
}
